.login-container {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 600px;
    height: 400px;
    margin: auto;
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(184,184,184,0.4); 
    box-shadow: 0px 0px 10px 0px rgba(184,184,184,0.4);
}

.login-image {
    width: 50px;
    height: 50px;
    margin-top : -30px;
}

.login-title {

    text-align: center;
}

.btn-width {
    width: 100%;
}

.title-member {
    font-weight: 600;
}

.txt-center {
    text-align: center;
    margin-bottom: 15px;
}

.card-img {
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

.card-container {
    margin-bottom: 30px !important;
    margin:auto;
    height: auto;
    border: none;
    padding: 25px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(184,184,184,0.4); 
    box-shadow: 0px 0px 10px 0px rgba(184,184,184,0.4);
}


.signup-form {
    padding: 25px;
    
}


.signup-container {
    margin-bottom: 25px !important;
    width: 40%;
    margin: auto;
    height: auto;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(184,184,184,0.4); 
    box-shadow: 0px 0px 10px 0px rgba(184,184,184,0.4);
}


